!*.yaml
!.gitignore
secrets.yaml
known_devices.yaml
*.conf
home-assistant_v2.db
home-assistant.log
git_token.txt
.homekit.state
.storage/auth
.storage/auth_provider.homeassistant
.storage/core.config_entries
.storage/core.entity_registry
.storage/core.device_registry
.storage/core.restore_state
.storage/onboarding
.uuid
.HA_VERSION
home-assistant_v2.db-shm
home-assistant_v2.db-wal
www/pictures/guest_wifi.png
www/pictures/wifi.png
custom_components/__pycache__
*pycache*
